* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

input::-moz-placeholder {
  color: white;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

input::placeholder {
  color: white;
  opacity: 1;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

header {
  height: 600px;
  width: 100%;
  background-image: url("../img/header-image-homepage.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}
header nav {
  height: 80px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: inline-block;
  margin: 0 15px;
}
header nav ul li:hover {
  color: #39AFBB;
  cursor: pointer;
  transition: 1s;
}
header nav img {
  width: 20%;
}
header nav a {
  text-decoration: none;
  color: white;
  background-color: #39AFBB;
  transition: 1s;
  border-radius: 3px;
  border: 1px solid #2d8a94;
  padding: 10px 15px;
  font-size: 15px;
}
header nav a:hover {
  background-color: #5ac2cd;
}
header .mission {
  width: 600px;
  height: 270px;
  margin-top: 8%;
  margin-left: 23%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  color: white;
}
header .mission h2 {
  font-size: 50px;
  font-weight: 200;
}
header .mission h2 span {
  color: #39AFBB;
}
header .mission p {
  font-size: 20px;
  margin: 20px 0;
}
header .mission a {
  text-decoration: none;
  color: white;
  background-color: #39AFBB;
  transition: 1s;
  border-radius: 3px;
  border: 1px solid #2d8a94;
  padding: 10px 30px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
header .mission a:hover {
  background-color: #5ac2cd;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  line-height: 30px;
  padding: 30px 0 100px 0;
}
.welcome .top {
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 270px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
.welcome .top hr {
  width: 180px;
  margin: 20px;
  margin-left: 34%;
  color: #7B818D;
}
.welcome .top h3 {
  font-weight: 200;
  font-size: 35px;
}
.welcome .top p {
  margin-top: 20px;
  text-align: center;
}
.welcome .bottom {
  display: flex;
  width: 70%;
  margin-top: 40px;
}
.welcome .bottom .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 4);
  margin: 0 5px;
  line-height: 30px;
}
.welcome .bottom .item img {
  width: 30%;
  margin-bottom: 10px;
}
.welcome .bottom .item h5 {
  color: #7B818D;
  font-weight: 200;
  font-size: 15px;
}
.welcome .bottom .item h5:hover {
  color: #39AFBB;
  cursor: pointer;
  transition: 1s;
}
.welcome .bottom .item p {
  color: #7B818D;
  font-size: 12px;
  text-align: center;
}

.doctors {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  line-height: 30px;
  background-color: #F1EFEF;
  padding: 30px 0 100px 0;
}
.doctors .top {
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 270px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
.doctors .top hr {
  width: 180px;
  margin: 20px;
  margin-left: 34%;
  color: #7B818D;
}
.doctors .top h3 {
  font-weight: 200;
  font-size: 35px;
}
.doctors .top p {
  margin-top: 20px;
  text-align: center;
}
.doctors .bottom {
  display: flex;
  justify-content: center;
  width: 70%;
}
.doctors .bottom .item {
  width: calc(100% / 3);
  margin: 0 15px;
  background-color: white;
}
.doctors .bottom .item ul {
  list-style: none;
}
.doctors .bottom .item ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: inline-block;
  margin: 0 15px;
}
.doctors .bottom .item ul li:hover {
  color: #39AFBB;
  cursor: pointer;
  transition: 1s;
}
.doctors .bottom .item .fa-facebook-square {
  color: #627AAD;
}
.doctors .bottom .item .fa-twitter-square {
  color: #76BCF1;
}
.doctors .bottom .item .fa-instagram-square {
  color: #658EB0;
}
.doctors .bottom .item img {
  width: 100%;
  margin-bottom: 20px;
}
.doctors .bottom .item h5, .doctors .bottom .item p {
  padding-left: 30px;
  font-weight: 200;
  color: #7B818D;
}
.doctors .bottom .item ul {
  margin: 25px;
  font-size: 23px;
}
.doctors .bottom .item ul li {
  margin: 2px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  line-height: 30px;
}
.services .top {
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 270px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
.services .top hr {
  width: 180px;
  margin: 20px;
  margin-left: 34%;
  color: #7B818D;
}
.services .top h3 {
  font-weight: 200;
  font-size: 35px;
}
.services .top p {
  margin-top: 20px;
  text-align: center;
}
.services .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  height: 600px;
}
.services .bottom .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3 - 20px);
  height: 200px;
  margin: 0 10px;
}
.services .bottom .item img {
  width: 20%;
  margin-bottom: 20px;
}
.services .bottom .item h5, .services .bottom .item p {
  font-weight: 200;
  color: #7B818D;
  text-align: center;
}
.services .bottom .item h5 {
  font-size: 15px;
}
.services .bottom .item h5:hover {
  color: #39AFBB;
  cursor: pointer;
  transition: 1s;
}
.services .bottom .item p {
  color: #7B818D;
  font-size: 12px;
}

.tour-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  line-height: 30px;
  background-image: url("../img/paralax-bg-tour-facilities.jpg");
  background-size: cover;
  background-position: center;
}
.tour-section .top {
  align-items: center;
  justify-content: center;
  width: 45%;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  color: white;
}
.tour-section .top hr {
  width: 180px;
  margin: 20px;
  margin-left: 34%;
  color: #7B818D;
}
.tour-section .top h3 {
  font-weight: 200;
  font-size: 35px;
}
.tour-section .top p {
  margin-top: 20px;
  text-align: center;
}
.tour-section .top :last-child {
  margin-top: 30px;
  width: 10%;
}
.tour-section .top :last-child:hover {
  cursor: pointer;
}

.info-section {
  display: flex;
  width: 100%;
  height: 230px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 30px;
}
.info-section .item:first-child {
  background-color: #3BAFBF;
}
.info-section .item:nth-child(2) {
  background-color: #3697C3;
}
.info-section .item:last-child {
  background-color: #327EC7;
}
.info-section .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% / 3);
  padding: 40px;
  color: white;
}
.info-section .item h5, .info-section .item p {
  text-align: center;
}
.info-section .item h5 {
  font-size: 15px;
}
.info-section .item p {
  font-size: 12px;
  font-weight: 200;
}
.info-section .item img {
  width: 15%;
}
.info-section .item a {
  text-decoration: none;
  color: white;
  margin-top: 20px;
  padding: 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  border: 2px solid white;
}

.form {
  justify-content: center;
  align-items: center;
  height: 600px;
  background-image: url("../img/make-an-appointment.jpg");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  line-height: 30px;
  padding: 30px 0 100px 0;
}
.form .top {
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 270px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
.form .top hr {
  width: 180px;
  margin: 20px;
  margin-left: 34%;
  color: #7B818D;
}
.form .top h3 {
  font-weight: 200;
  font-size: 35px;
}
.form .top p {
  margin-top: 20px;
  text-align: center;
}
.form .bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
.form .bottom form input {
  background: none;
  color: white;
  border: 1px solid white;
  width: 225px;
  margin: 0 10px 20px 10px;
  padding: 10px;
}
.form .bottom form .help {
  width: 474px;
  height: 100px;
  padding-bottom: 70px;
}
.form .bottom .button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form .bottom .button a {
  text-decoration: none;
  color: white;
  background-color: #39AFBB;
  transition: 1s;
  border-radius: 3px;
  border: 1px solid #2d8a94;
  padding: 10px 140px;
  margin: 0 10px 0 10px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.form .bottom .button a:hover {
  background-color: #5ac2cd;
}
