
footer
{
  display: flex;
  flex-wrap: wrap;
  width: $widthContainer;
  height: 450px;
  background-color: $footerColor;
  @include listStyle;

   .copy
   {
     li
    {
      font-size: 10px;
      font-family: $sourceSansPro;
      font-weight: $fontWeight;
      color: $grayColor;
      border-right: 1px solid gray;
      padding-right: 20px;
    }
    :last-child
    {
      border-right: none;
    }
   }


  .item
  {
    @include flexColumn;
    justify-content: flex-start;
    @include listStyle;
    @include social;
    align-items: baseline;
    padding: 30px;
    width: $itemXthree;
    height: 90%;
    background-color: white;


    .list-item
    {
      ul
      {
        list-style: none;
        li
        {
          display: block;
          font-family: $sourceSansPro;
          font-weight: $fontWeight;
          font-size: $fontSize13;
          margin: 10px 0;

          .contact-style
          {
            background-color: white;
            color: $brandColor;
            font-size: 14px;
          }

          i
          {
            font-size: 8px;
            font-weight: bold;
            color: white;
            background-color: $brandColor;
            padding: 7px;
            border-radius: 50%;
            margin-right: 5px;
          }
        }
      }
    }
    img
    {
      width:56%;
    }

    hr
    {
      margin-top: $textMargin;
      width: 100%;
      color:  $grayColor;

    }

    p
    {
      margin-top: $textMargin;
      text-align: justify;
      font-family: $sourceSansPro;
      font-weight: $fontWeight;
      line-height: $lineHeight;
      font-size: $fontSize13;
      color: $grayColor;
    }

    h4
    {
      font-size: $fontSize13;
      font-family: $montserrat;
    }

    h5
    {
      margin-top: 3px;
      font-family: $sourceSansPro;
      font-weight: $fontWeight;
      line-height: $lineHeight;
      font-size: $fontSize15;
      color: $grayColor;
    }
    ul
    {
      font-size: 23px;
      margin-top: $textMargin;

      li
      {
        margin: 2px;
      }
    }

    .brake-line-blue
    {
      margin-top: $textMargin;
      width: 10%;
      height: 2px;
      background-color: $brandColor;
    }

    a
    {
      text-decoration: none;
      color: black;
      margin-top: $textMargin;
      padding:10px 20px;
      font-family: $montserrat;
      font-size: $fontSize13;
      border: 1px solid $grayColor;

      &:hover
      {
        background-color: $brandColor;
        color: white;
        border:none;
        transition: $transitionButton;
      }
    }

  }
}
