

header
{
  height: 600px;
  width: 100%;
  background-image: $jumbotronImage;
  background-size: cover;
  display: flex;
  flex-direction: column;

  nav
  {
    height: 80px;
    width: 100%;
    padding: 0 40px;
    @include centerNav;
    @include listStyle;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;

    li:first-child
    {
      color: $brandColor;
    }

    img
    {
      width: 20%;
    }
    a
    {
      @include btnFunction($brandColor, 10%);
      padding: 10px 15px;
      font-size: 13px;
    }

    li:nth-child(3)
    {
      position: relative;
      padding: 50px 0;
    }

    .dropdown
    {
      position:absolute;
      top: 100px;
      display: flex;
      flex-direction: column;
      color: white;
      width: 175px;
      background-color: $brandColor;
      opacity: 0.8;
      transition: 1s;

      a
      {
        border-bottom: 1px solid white;
      }

    }
  }

  .mission
  {
    height: 270px;
    margin: 7% 0 0 23%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    color: white;

    h1
    {
      font-size: 60px;
      font-weight: 200;
      span
      {
        color: $brandColor;
      }
    }

    p
    {
      font-size: 20px;
      margin:6px 0 28px 0;
    }

    a
    {
      @include btnFunction($brandColor, 10%);
      margin-top: 20px;
      padding: 10px 30px;
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
    }
  }
}
