

.welcome
{
  @include sectionFormat;

  .bottom
  {
    display: flex;
    width: 70%;
    margin-top: 40px;

    .item
    {
      @include flexColumn;
      width: calc(100% / 4);
      margin: 0 5px;
      line-height: 30px;

      img
      {
        width: 30%;
        margin-bottom: 10px;
      }

      h5
      {
        color: $grayColor;
        font-weight: 200;
        font-size: 15px;
        &:hover
        {
          color: $brandColor;
          cursor: pointer;
          transition: 1s;
        }
      }

      p
      {
        color:  $grayColor;
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

.doctors
{
  @include sectionFormat;

  background-color: #F1EFEF;


  .bottom
  {
    display: flex;
    justify-content: center;
    width: 70%;

    .item
    {
      width: calc(100% / 3);
      margin: 0 15px;
      background-color: white;
      @include listStyle;
      @include social;

      img
      {
        width: 100%;
        margin-bottom: 20px;
      }

      h5
      {
        color: black;
        padding-left: 30px;
        font-weight: 200;
        font-size: 15px;
      }

       p
      {
        padding-left: 30px;
        font-weight: 200;
        color: $grayColor;
      }

      ul
      {
        margin: 25px;
        font-size: 23px;

        li
        {
          margin: 2px;
        }
      }
    }
  }
}

.services
{

  @include flexColumn;
  padding: 50px;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  line-height: 30px;

  .top
  {
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 270px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;

    hr
    {
      width: 180px;
      margin: 20px;
      margin-left: 34%;
      color:  $grayColor;

    }

    h3
    {
      font-weight: 200;
      font-size: 35px;
    }

    p
    {
      margin-top: 20px;
      text-align: center;
    }
  }

  .bottom
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    height: 600px;

    .item
    {
      @include flexColumn;
      width: calc(100% / 3 - 20px);
      height: 200px;
      padding: 0 15px;
      img
      {
        width: 20%;
        margin-bottom: 20px;
      }

      h5  , p
      {
        font-weight: 200;
        color: $grayColor;
        text-align:center;
      }

      h5
      {
        font-size: 17px;
        &:hover
        {
          color: $brandColor;
          cursor: pointer;
          transition: 1s;
        }
      }

      p
      {
        color:  $grayColor;
        font-size: 16px;
      }

    }
  }
}

.tour-section
{
  @include flexColumn;
  padding: 100px;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  line-height: 30px;
  background-image: url("../img/paralax-bg-tour-facilities.jpg");
  background-size: cover;
  background-position: center;

  .top
  {
    align-items: center;
    justify-content: center;
    width: 45%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    color: white;

    hr
    {
      width: 180px;
      margin: 20px;
      margin-left: 34%;
      color:  $grayColor;

    }

    h3
    {
      font-weight: 200;
      font-size: 35px;
    }

    p
    {
      margin-top: 20px;
      text-align: center;
    }

    :last-child
    {
      margin-top: 30px;
      width: 10%;
      &:hover
      {
        cursor: pointer;
      }
    }

  }

}

.info-section
{
  display: flex;
  width: 100%;
  height: 230px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 30px;

  .item:first-child
  {
    background-color: #3BAFBF;
  }

  .item:nth-child(2)
  {
    background-color: #3697C3;
  }

  .item:last-child
  {
    background-color: #327EC7;
  }

  .item
  {
    @include flexColumn;
    width: calc(100% / 3);
    padding:40px;
    color: white;

    h5  , p
    {
      text-align:center;
    }

    h5
    {
      font-size: 15px;

    }

    p
    {
      font-size: 12px;
      font-weight: 200;
    }

    img
    {
      width: 15%;
    }

    a
    {
      text-decoration: none;
      color: white;
      margin-top: 20px;
      padding: 0 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 10px;
      border: 2px solid white;

      &:hover
      {
        color: $brandColor;
        background: white;
        transition: 1s;
      }
    }



  }
}

.form
{
  justify-content: center;
  align-items: center;
  height: 600px;
  background-image: url("../img/make-an-appointment.jpg");
  background-size: cover;
  color: white;
  @include sectionFormat;

  .bottom
  {
    @include flexColumn;
    width: 45%;

    form
    {


      input
      {
        background: none;
        color: white;
        border: 1px solid white;
        width: 225px;
        margin: 0 10px 20px 10px;
        padding: 10px;

      }

      .help
      {
        width: 474px;
        height: 100px;
        padding-bottom: 70px;
      }
    }





    .button
    {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
       a
      {
        @include btnFunction($brandColor, 10%);
        padding: 10px 140px;
        margin: 0 10px 0 10px;
        font-size: 15px;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
}

.client
{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-image: url("../img/rgb-gradient-bar-for-logo-carrasel.jpg");
  @include listStyle;
}
