

.welcome
{
  @include sectionFormat;

  .bottom
  {
    @include flexAndWrap;
    width: $bottomSectionWidth;
    margin-top: 40px;

    .item
    {
      @include flexColumn;
      width: $welcomeItemWidth;
      margin: 10px;
      line-height: $lineHeight;

      img
      {
        width: 30%;
        margin-bottom: 10px;
      }

      h5
      {
        color: $grayColor;
        font-weight: $fontWeight;
        font-size: $fontSize15;
        &:hover
        {
          color: $brandColor;
          cursor: pointer;
          transition: $transitionButton;
        }
      }

      p
      {
        color:  $grayColor;
        font-size: $fontSize13;
        text-align: center;
      }
    }
  }
}

.doctors
{
  @include sectionFormat;
  background-color: #F1EFEF;



  .bottom
  {
    @include flexAndWrap;
    width: $bottomSectionWidth;


    .item
    {
      width: $doctorsItemWidth;
      margin: 15px;
      background-color: white;
      @include listStyle;
      @include social;

      img
      {
        width: 100%;
        margin-bottom: 20px;
      }

      h5
      {
        color: black;
        padding-left: 30px;
        font-weight: 200;
        font-size: $fontSize15;
      }

       p
      {
        padding-left: 30px;
        font-weight: $fontWeight;
        margin-top: $textMargin;
        color: $grayColor;
      }

      ul
      {
        margin: 25px;
        font-size: $fontsize20;

        li
        {
          margin: 2px;
        }
      }
    }
  }
}

.services
{

  @include flexColumn;
  padding: 50px;
  width: $widthContainer;
  font-family: $sourceSansPro;
  font-weight: $fontWeight;
  line-height: $lineHeight;

  .top
  {
    align-items: center;
    justify-content: center;
    width: $widthSection;
    height: 270px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;

    hr
    {
      width: 180px;
      margin: 20px;
      margin-left: 34%;
      color:  $grayColor;

    }

    h3
    {
      font-weight: $fontWeight;
      font-size: $fontSize35;
    }

    p
    {
      margin-top: $textMargin;
      text-align: center;
    }
  }

  .bottom
  {
    @include flexAndWrap;
    align-items: center;
    width: $bottomSectionWidth;
    height: 600px;

    .item
    {
      @include flexColumn;
      width: $serviceItemWidth;
      height: 200px;
      padding: 0 15px;
      img
      {
        width: 25%;
        margin-bottom: 20px;
      }

      h5  , p
      {
        font-weight: $fontWeight;
        color: $grayColor;
        text-align:center;
      }

      h5
      {
        font-size: $fontSize15;
        &:hover
        {
          color: $brandColor;
          cursor: pointer;
          transition: $transitionButton;
        }
      }

      p
      {
        color:  $grayColor;
        font-size: $fontSize13;
      }

    }
  }
}

.tour-section
{
  @include flexColumn;
  padding: 100px;
  width: $widthContainer;
  font-family: $sourceSansPro;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  background-image: $tourSectionImage;
  background-size: cover;
  background-position: center;

  .top
  {
    align-items: center;
    justify-content: center;
    width: $widthSection;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    color: white;

    img
    {
      width: 15%;
    }

    hr
    {
      width: 180px;
      margin: $textMargin;
      margin-left: 34%;
      color:  $grayColor;

    }

    h3
    {
      font-weight: $fontWeight;
      font-size: $fontSize35;
    }

    p
    {
      margin-top: $textMargin;
      text-align: center;
    }

    :last-child
    {
      margin-top: 30px;
      width: 10%;
      &:hover
      {
        cursor: pointer;
      }
    }

  }

}

.info-section
{
  display: flex;
  width: $widthContainer;
  height: 230px;
  font-family: $sourceSansPro;
  line-height: $lineHeight;

  .item:first-child
  {
    background-color: $infoFirstColor;
  }

  .item:nth-child(2)
  {
    background-color: $infoSecondColor;
  }

  .item:last-child
  {
    background-color: $infoThirdColor;
  }

  .item
  {
    @include flexColumn;
    width: $itemXthree;
    padding: 40px;
    color: white;

    h5  , p
    {
      text-align:center;
    }

    h5
    {
      font-size: $fontSize15;

    }

    p
    {
      font-size: $fontSize13;
      font-weight: $fontWeight;
    }

    img
    {
      width: 15%;
    }

    a
    {
      text-decoration: none;
      color: white;
      margin-top: $textMargin;
      padding: 0 20px;
      font-family: $montserrat;
      font-size: $fontSize13;
      border: 2px solid white;

      &:hover
      {
        color: $brandColor;
        background: white;
        transition: $transitionButton;
      }
    }



  }
}

.form
{
  justify-content: center;
  align-items: center;
  height: 600px;
  background-image: $formSectionImage;
  background-size: cover;
  color: white;
  @include sectionFormat;

  .bottom
  {
    @include flexColumn;
    width: $widthSection;
    margin-left: 7%;

    form
    {
      position: relative;


      input
      {
        background: none;
        color: white;
        border: 1px solid $inputGrayColor;
        width: 225px;
        margin: 0 10px 20px 10px;
        padding: 10px 25px;
      }



      .fa-calendar-alt
      {
        position: absolute;
        top: 67px;
        left: 264px;
        color: $inputGrayColor;
      }


      .help
      {
        width: 474px;
        height: 100px;
        padding-bottom: 70px;
      }

      .input
      {
        width: 474px;
        font-family: $montserrat;
        @include btnFunction($brandColor, 20%);
      }


    }

    .button
    {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
       a
      {
        @include btnFunction($brandColor, 10%);
        padding: 10px 140px;
        margin: 0 10px 0 10px;
        font-size: $fontSize15;
        font-family: $montserrat;
      }
    }
  }
}

.client
{
  display: flex;
  justify-content: center;
  width: $widthContainer;
  height: 200px;
  background-image: url("../img/rgb-gradient-bar-for-logo-carrasel.jpg");
  @include listStyle;
}
