@mixin placeholderKit
{
input::placeholder
{
  color: $placeholderGrayColor;
  opacity: 1;
}

:-ms-input-placeholder
{
  color: $placeholderGrayColor;
}

::-ms-input-placeholder
{
  color: $placeholderGrayColor;
}

}

@mixin flexColumn
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexAndWrap
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin btnFunction($color, $percent) {
  text-decoration: none;
  color: white;
  background-color: $color;
  transition: $transitionButton;
  border-radius: 3px;
  border: 1px solid darken($color, $percent);
  &:hover {
    background-color: lighten($color, $percent);
  }
}

@mixin listStyle
{
  ul
  {
    list-style: none;

    li
    {
      display: flex;
      justify-content: space-between;
      align-items: center;
      display: inline-block;
      margin: 0 15px;

      &:hover
      {
        color: $brandColor;
        cursor: pointer;
        transition: $transitionButton;
      }
    }
  }

}



@mixin social
{
  .fa-facebook-square
  {
    color: $facebookColor;
  }

  .fa-twitter-square
  {
    color:$twitterColor;
  }

  .fa-instagram-square
  {
    color: $instagramColor;
  }

  .fa-youtube-square
  {
    color: $youtubeColor;
  }
}


@mixin sectionFormat
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $widthContainer;
  font-family: $sourceSansPro;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  padding: 30px 0 100px 0;


  .top
  {
    align-items: center;
    justify-content: center;
    width: 45%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;

    hr
    {
      width: 180px;
      margin: 20px;
      margin-left: 34%;
      color: $grayColor;

    }

    h3
    {
      font-weight: $fontWeight;
      font-size: $fontSize40;
    }

    p
    {
      margin-top: $textMargin;
      text-align: center;
    }
  }
}
