@mixin centerItem
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin btnFunction($color, $percent) {
  text-decoration: none;
  color: white;
  background-color: $color;
  transition: 1s;
  border-radius: 3px;
  border: 1px solid darken($color, $percent);
  &:hover {
    background-color: lighten($color, $percent);
  }
}

@mixin listStyle
{
  ul
  {
    list-style: none;

    li
    {
      @include centerItem;
      display: inline-block;
      margin: 0 15px;

      &:hover
      {
        color: #39AFBB;
        cursor: pointer;
        transition: 1s;
      }
    }
  }

}

@mixin social
{
  .fa-facebook-square
  {
    color: #627AAD;
  }

  .fa-twitter-square
  {
    color: #76BCF1;
  }

  .fa-instagram-square
  {
    color: #658EB0;
  }
}
