// immagini
$jumbotronImage: url("../img/header-image-homepage.jpg");
$tourSectionImage: url("../img/paralax-bg-tour-facilities.jpg");
$formSectionImage: url("../img/make-an-appointment.jpg");
// immagini
// colori
$brandColor: #39AFBB;
$grayColor: #7B818D;
$footerColor: #F1EFEF;
$facebookColor: #627AAD;
$twitterColor: #76BCF1;
$instagramColor: #658EB0;
$youtubeColor: red;
$infoFirstColor: #3BAFBF;
$infoSecondColor: #3697C3;
$infoThirdColor: #327EC7;
// colori
// font
$fontSize60: 60px;
$fontSize35: 35px;
$fontsize20: 20px;
$fontSize15: 15px;
$fontSize13: 13px;
$lineHeight: 30px;
$fontWeight: 200;
$montserrat: "Montserrat", sans-serif;
$sourceSansPro: 'Source Sans Pro', sans-serif;
$textMargin: 20px;
// font

// misure container e sezioni
$widthContainer: 100%;
$widthSection: 45%;
$transitionButton: 1s;
$itemXthree: calc(100% / 3);
$itemXfour: calc(100% / 4);
